<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Onrender test web app</title>
</head>
<body>
  <div id="root">
    Client App Placeholder
    {{{html}}}
  </div>
  <script src="js/bundle.js"></script>
</body>
</html>